{% extends "app/base.html" %}
{% load static %}
{% block important %}
<link rel="stylesheet" href="{% static 'css/important.css' %}">
<div class="countdown-container">
    <h1>Coming soon!</h1>

    {% for reminder in important_reminders %}
<div class="countdown" data-date="{{ reminder.date|date:'Y-m-d' }}" data-time="{{ reminder.time|time:'H:i:s' }}">
    
    
    <h2>{{ reminder.reminder }}</h2>
    <div class="day-container">
        <h2 class="day">0</h2>
        <p>Days</p>
    </div>
    <div class="hour-container">
        <h2 class="hour">0</h2>
        <p>Hours</p>
    </div>
    <div class="minute-container">
        <h2 class="minute">0</h2>
        <p>Minutes</p>
    </div>
    <div class="second-container">
        <h2 class="second">0</h2>
        <p>Seconds</p>
    </div>
</div>
{% endfor %}

</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const countdowns = document.querySelectorAll('.countdown');

    countdowns.forEach(function (countdown) {
        const releaseDate = new Date(`${countdown.dataset.date}T${countdown.dataset.time}`).getTime();

        const updateCountdown = () => {
            const presentDate = new Date().getTime();
            const gap = releaseDate - presentDate;

            if (gap < 0) {
                // Nếu thời gian đã qua, hiển thị hết hạn
                countdown.querySelector('.day').textContent = "0";
                countdown.querySelector('.hour').textContent = "00";
                countdown.querySelector('.minute').textContent = "00";
                countdown.querySelector('.second').textContent = "00";
                return;
            }

            const second = 1000;
            const minute = 60 * second;
            const hour = 60 * minute;
            const day = 24 * hour;

            const dayText = Math.floor(gap / day);
            const hourText = Math.floor((gap % day) / hour).toString().padStart(2, '0');
            const minuteText = Math.floor((gap % hour) / minute).toString().padStart(2, '0');
            const secondText = Math.floor((gap % minute) / second).toString().padStart(2, '0');

            countdown.querySelector('.day').textContent = dayText;
            countdown.querySelector('.hour').textContent = hourText;
            countdown.querySelector('.minute').textContent = minuteText;
            countdown.querySelector('.second').textContent = secondText;
        };

        // Cập nhật ngay lần đầu
        updateCountdown();

        // Cập nhật mỗi giây
        setInterval(updateCountdown, 1000);
    });
});
</script>
{% endblock important %}
